#logo a {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 36px;
    color: #3498db;
    text-transform: uppercase;
}

.menu li,
.menu li a {
    font-family: 'Arial';
    font-weight: normal;
    font-size: 15px;
    color: #ffffff;
}

body {
    font-family: 'Arial';
    font-weight: normal;
    font-size: 15px;
    color: #444444;
    background-color: #ffffff;
}

.post-data .post-title a,
#comments-tab-content a {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 16px;
    color: #00514b;
    text-transform: uppercase;
}

.hentry .entry-title {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 25px;
    color: #018e37;
    text-transform: uppercase;
}

#sidebars .widget {
    font-family: 'Arial';
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    position: relative;
    background: #253545
}


.footer-widgets {
    font-family: 'Arial';
    font-weight: normal;
    font-size: 15px;
    color: #444444;
}

h1 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 30px;
    color: #00514b;
    text-transform: uppercase;
}

h2 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 22px;
    color: #00514b;
    text-transform: uppercase;
}

h3 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 18px;
    color: #00514b;
    text-transform: uppercase;
}

h4 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 15px;
    color: #00514b;
    text-transform: uppercase;
}

h5 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 15px;
    color: #444444;
    text-transform: uppercase;
}

h6 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 13px;
    color: #444444;
    text-transform: uppercase;
}

#floating-phone {
    display: none;
    position: fixed;
    left: 10px;
    bottom: 10px;
    height: 50px;
    width: 50px;
    background: #46C11E url(images/callbutton01.png) center / 30px no-repeat;
    z-index: 99;
    color: #FFF;
    font-size: 35px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

@media (max-width: 650px) {
    #floating-phone {
        display: block;
    }
}

#ggzu7tc.g9ydu84.gmbxvmb
{
    width: 300px !important;
}