.optin-monster-success-message {
    font-size: 21px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #282828;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}

.optin-monster-success-overlay .om-success-close {
    font-size: 32px !important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    color: #282828 !important;
    font-weight: 300 !important;
    position: absolute !important;
    top: 0px !important;
    right: 10px !important;
    background: none !important;
    text-decoration: none !important;
    width: auto !important;
    height: auto !important;
    display: block !important;
    line-height: 32px !important;
    padding: 0 !important;
}

.om-helper-field {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
}

html div#om-sxf12xpgmo-post * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html div#om-sxf12xpgmo-post {
    background: none;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    float: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    letter-spacing: normal;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}

html div#om-sxf12xpgmo-post .om-clearfix {
    clear: both;
}

html div#om-sxf12xpgmo-post .om-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    overflow: auto;
    visibility: hidden;
    zoom: 1;
}

html div#om-sxf12xpgmo-post #om-post-action-optin {
    background: #fff;
    position: relative;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

html div#om-sxf12xpgmo-post #om-post-action-optin-title {
    font-size: 18px;
    color: #222;
    width: 100%;
    margin-bottom: 15px;
}

html div#om-sxf12xpgmo-post #om-post-action-optin-tagline {
    font-size: 16px;
    line-height: 1.25;
    color: #484848;
    width: 100%;
    margin-bottom: 15px;
}

html div#om-sxf12xpgmo-post input,
html div#om-sxf12xpgmo-post #om-post-action-optin-name,
html div#om-sxf12xpgmo-post #om-post-action-optin-email {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 6px;
    overflow: hidden;
    outline: none;
    margin: 0 0 10px;
    vertical-align: middle;
    display: inline;
    color: #222;
    height: 34px;
}

html div#om-sxf12xpgmo-post input[type=submit],
html div#om-sxf12xpgmo-post button,
html div#om-sxf12xpgmo-post #om-post-action-optin-submit {
    background: #ff370f;
    border: 1px solid #ff370f;
    color: #fff;
    font-size: 16px;
    padding: 4px 6px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: inline;
    margin: 0;
    width: 100%;
}

html div#om-sxf12xpgmo-post input[type=checkbox],
html div#om-sxf12xpgmo-post input[type=radio] {
    -webkit-appearance: checkbox;
    width: auto;
    outline: invert none medium;
    padding: 0;
    margin: 0;
}

div#om-sxf12xpgmo-post .alternate_color tr:nth-child(odd) {
    background-color: #ffffff !important;
}

div#om-sxf12xpgmo-post td {
    border-width: 0px !important;
    padding: 5px !important;
    background-color: #ffffff !important;
}

div#om-sxf12xpgmo-post td input {
    width: 100% !important;
    margin-bottom: 0px;
    background-color: #ffffff !important;
    border-color: #e1e1e1 !important;
}

div#om-sxf12xpgmo-post .main_color tr:nth-child(odd) {
    background: #ffffff;
}

div#om-sxf12xpgmo-post #om-post-sample-optin {
    padding: 0 !important;
}

div#om-sxf12xpgmo-post table {
    background: #ffffff !important;
    width: 79% !important;
    float: left !important;
    margin-bottom: 0;
}

div#om-sxf12xpgmo-post tbody tr {
    background-color: #ffffff !important;
    width: 30% !important;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

div#om-sxf12xpgmo-post tbody tr td {
    padding: 0;
    width: 10%;
}

div#om-sxf12xpgmo-post tbody tr input {
    width: 110% !important;
}

div#om-sxf12xpgmo-post input[type=submit] {
    display: inline-block !important;
    float: left !important;
    width: 20% !important;
    background-color: #4c9003 !important;
    border: 1px solid #4c9003 !important;
    margin-top: 5px !important;
}